body  {
    background-color: rgba(21, 255, 0, 0.486);
    font-family: Bai Janjuree;
}

footer{
    background-color: aqua ;
    color: aquamarine;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 2rem;
}

footer p{
    text-align: center;
    font-size: 0.6 rem;
    margin-top: 0.5 rem;
}